/* General styles */
* {
   box-sizing: border-box;
}

/* Structural styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 10%;
}

section {
    border: 1px dotted black;
    padding: 10px 0;
    margin: 10px 0;
}

/* General text styles */
h1 {
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

h2 {
    font-size: 30px;
    color: darkred;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    text-decoration: underline;
}

p {
    font-size: 16px;
}

/* Color section */
.rgb, .hsl {
    display: none;
}

#colors {
    text-align: center;
}

#colors .swatch {
    width: 25%;
    min-height: 30px;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

#colors .red {
    background-color: red;
    color: white;
}

#colors .purple {
    background-color: purple;
    color: white;
}

#colors .green {
    background-color: green;
    color: white;
}

#colors .black {
    background-color: black;
    color: white;
}

/* Fonts section */
#fonts {
    text-align: center;
}

#fonts .font-box {
    width: 47%;
    min-height: 30px;
    display: inline-block;
    text-align: left;
    margin: 1%;
    padding: 0px;
}

.barlow {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.montserrat {
    font-family: Montserrat, sans-serif;
}

.overpass {
    font-family: Overpass, sans-serif;
}

.ubuntu {
    font-family: Ubuntu, sans-serif;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

/* ---------------- EXTRA FUN ------------------- */

/* Dropbox code */
#colors .dropdown {
    position: relative;
    display: inline-block;
}
  
#colors .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    border: 1px solid gray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 12px 16px;
    z-index: 1;
}

#colors .dropdown:hover .dropdown-content {
    display: block;
}